.main-container {
    margin: 50px auto;
    max-width: 400px;
    width: 100%;
}

.calc-wrapper {
    background: #fcfcfc;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 30px;
}

.calc-wrapper-content {
    padding-top: 30px;
}

.col-sm-12 {
    display: flex;
    justify-content: space-between;
}

.col-sm-12.last {
    justify-content: flex-end;
}

.btn {
    width: calc(25% - 5px);
    margin-left: 7px;
    background: #ccc;
    border: solid 1px #111111;
    margin-bottom: 5px;
}

.col-sm-12 a:first-child {
    margin-left: 0;
}
